{{template "base" .}}
{{define "title"}} 
<div class="log">
    <div class="login">
    <form action="/signin">
        <button>login</button>
    </form>
</div>
<div class="signup">
    <form action="/signup">
        <button >signup</button>
    </form>
</div>
</div>
{{end}}
