{{template "base" .}}
{{define "title"}} 
<div class="log">
    <div class="login">
    <form action="/signin">
        <button>login</button>
    </form>
</div>
<div class="signup">
    <form action="/signup">
        <button >signup</button>
    </form>
</div>
</div>
{{end}}


{{define "main"}}
<div class="container1">
        {{range .}}
        <div class="box" >
        
            <h2> {{.Name}} </h2>
          <p2>{{.Text}}</p2>
            <p2>{{.Category}}</p2>
               <a href="/comments?id={{.Id}}">View Comments</a>
                
                 <form action="/signin" method="get">
                <input type="hidden" name="id" value={{.Id}}>
                <button type="submit">Like</button>
                </form>
                <p2>{{.Likes}}</p2>
                  <form action="/signin" method="get">
                <input type="hidden" name="id" value={{.Id}}>
                <button type="submit">Dislike</button>
                </form>
                 <p2>{{.Dislikes}}</p2>
        </div>
        
        <br>
       {{end}}
       

{{end}}