{{template "base" .}}
{{define "title"}} 
<div class="log">
    <div class="login">
    <form action="/signin">
        <button>login</button>
    </form>
</div>
<div class="signup">
    <form action="/signup">
        <button >signup</button>
    </form>
</div>
</div>
{{end}}



{{define "main"}}

          <form action="/filter" method="GET">
          <p1>By category:</p1>
          <INPUT TYPE="Checkbox" Name="Category" Value="volvo">Volvo
          <INPUT TYPE="Checkbox" Name="Category" Value="mercedes">Mercedes
          <INPUT TYPE="Checkbox" Name="Category" Value="saab">Saab
          <INPUT TYPE="Checkbox" Name="Category" Value="audi">Audi
          <br>
          <br>
          <p1>Bye likes/dislikes:</p1>
          <INPUT TYPE="Checkbox" Name="LikeDislike" Value="like">Liked
          <INPUT TYPE="Checkbox" Name="LikeDislike" Value="dislike">Disliked
          <br>
          <br>
         
          <br>
          <br>
          <button type="submit">Filter</button>
          </form>
<div class="container1">
        {{range .}}
        <div class="box" >
             <h2> {{.Title}} </h2>
            <p2> {{.Name}} </p2>
          <p2>{{.Text}}</p2>
            <p2>{{.Category}}</p2>
               <a href="/comments?id={{.Id}}">View Comments</a>
                
                 <form action="/signin" method="get">
               
                <button type="submit">Like</button>
                </form>
                <p2>{{.Likes}}</p2>
                  <form action="/signin" method="get">
               
                <button type="submit">Dislike</button>
                </form>
                 <p2>{{.Dislikes}}</p2>
        </div>
        
        <br>
       {{end}}
       

{{end}}