{{template "base" .}} 
{{define "title"}}
<div class = "Username">
<br>
<form action="/logout">
        <button >logout</button>
</form>
</div>
{{end}}
{{define "main"}}
 <div class="between">
 <div class="butt">
            <form action="/create">
            <button>createpost</button>
        </form>
        </div>
          <form action="/filter" method="GET">
          <p1>By category:</p1>
          <INPUT TYPE="Checkbox" Name="Category" Value="volvo">Volvo
          <INPUT TYPE="Checkbox" Name="Category" Value="mercedes">Mercedes
          <INPUT TYPE="Checkbox" Name="Category" Value="saab">Saab
          <INPUT TYPE="Checkbox" Name="Category" Value="audi">Audi
          <br>
          <br>
          <p1>By likes/dislikes:</p1>
          <INPUT TYPE="Checkbox" Name="LikeDislike" Value="like">Liked
          <INPUT TYPE="Checkbox" Name="LikeDislike" Value="dislike">Disliked
          <br>
          <br>
           <p1>By Your Posts:</p1>
          <INPUT TYPE="Checkbox" Name="YourPosts" Value="Your">Your posts
          <br>
          <br>
          <button type="submit">Filter</button>
          </form>
          </div>
<div class="container1">
        {{range .}}
        <div class="box" >
        
            <h2> {{.Title}} </h2>
            <p2> Author: {{.Name}} </p2>
          <p2>{{.Text}}</p2>
            <div class="cat">
            <p1>Category:<p1>
            <p5>{{.Category}}</p2>
            </div>
               <a href="/comments?id={{.Id}}">View Comments</a>
                
                 <form action="/like" method="post">
                <input type="hidden" name="id" value={{.Id}}>
                <button type="submit">Like</button>
                </form>
                <p2 class="likes">{{.Likes}}</p2>
                  <form action="/dislike" method="post">
                <input type="hidden" name="id" value={{.Id}}>
                <button type="submit">Dislike</button>
                </form>
                 <p2 class="dislikes">{{.Dislikes}}</p2>
        </div>
        
        <br>
       {{end}}
       
    </div>
    {{end}}


